    <!-- Begin page content -->
    <! -- PROBANDO -->
    <div class="container" style="padding-top: 60px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body">
                      <% if (notifications) { %>
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge success">
                                    <i class="glyphicon glyphicon-bell"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"><%= notifications[0].title %></h4>
                                    </div>
                                    <div class="timeline-body text-muted">
                                        <p class="timeline-content"><%= (notifications[0].content).replace(/<[^>]*>/g, '') %> </p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge warning">
                                    <i class="glyphicon glyphicon-bullhorn"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"><%= notifications[1].title %></h4>
                                    </div>
                                    <div class="timeline-body text-muted">
                                        <p class="timeline-content"><%= (notifications[1].content).replace(/<[^>]*>/g, '') %> </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge danger">
                                    <i class="glyphicon glyphicon-comment"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"><%= notifications[2].title %></h4>
                                    </div>
                                    <div class="timeline-body text-muted">
                                        <p class="timeline-content"><%= (notifications[2].content).replace(/<[^>]*>/g, '') %> </p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge">
                                    <i class="glyphicon glyphicon-send"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"><%= notifications[3].title %></h4>
                                    </div>
                                    <div class="timeline-body text-muted">
                                        <p class="timeline-content"><%= (notifications[3].content).replace(/<[^>]*>/g, '')  %> </p>
                                    </div>
                                </div>
                            </li>
                          </ul>
                          <% } %>
                        </div>
                    </div>
                </div>
         </div>
    </div>
  </div>
</div>
<!-- FIN PROBANDO -->
    </div>
 