    <!-- Begin page content -->
    <div class="container-fluid" style="padding-top: 30px;">
      <div class="page-header">
        <h5>Listado de comunicaciones</h5>
      </div>
      <div class="vertical-line-right col-lg-7 col-md-7 col-sm-7 col-xs-12" />
        <div id="tabla_comunicaciones"class="table-responsive">
          <table class="table" id="notifications_table">
            <thead>
              <tr>
                <th>Comunicado</th>
                <th class="col-md-2">Acción</th>
              </tr>
            </thead>
            <tbody> 
              <% for(var i=0; i<notifications.length; i++) {%>
                <tr>
                  <td>
                    <a href="#" name="details" title="Ver detalle" class="list-group-item details" value ="<%= notifications[i]._id %>">
                  <h4 class="list-group-item-heading"><%= notifications[i].title %></h4> 
                  <p class="list-group-item-text"><%= notifications[i].content %></p>
                  </a>
                  </td>
                  <td>
                  <% if (notifications[i].notified == true) { %>
                    <a href="/notifications/notify/<%= notifications[i]._id %>" class="btn btn-default btn-circle-green"><i class="glyphicon glyphicon-ok"></i></a>
                  <% }else{ %>
                    <a href="/notifications/notify/<%= notifications[i]._id %>" class="btn btn-default btn-circle-blue" title="Notificar"><i class="glyphicon glyphicon-ok"></i></a>
                  <% } %>
                    <a href="/notifications/edit/<%= notifications[i]._id %>" class="btn btn-default btn-circle-orange" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="/notifications/delete/<%= notifications[i]._id %>" class="btn btn-default btn-circle-red" title="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>                    
                  </td>
                </tr>
              <% } %>             
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" />
        <div id="details">  
        </div>          
      </div>
    </div>
