    <!-- Begin page content -->
    <div class="container-fluid" style="padding-top: 80px;">
      <div class="vertical-line-right col-lg-7 col-md-7 col-sm-7 col-xs-12" />
        <div id="tabla_comunicaciones"class="table-responsive">
          <table class="table table-hover" id="notifications_table">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Título</th>
                <th>Comunicado</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody> 
              <% for(var i=0; i<notifications.length; i++) {%>
                <tr>
                  <td>
                    <div style="min-width:80px">
                      <%= moment(notifications[i].date).format('DD/MM/YYYY') %>
                    </div>
                  </td>
                  <td>
                    <div style="max-width:100px; overflow:hidden;" title="Ver detalle" class="details" data-id="<%= notifications[i]._id %>">
                      <%= notifications[i].title %>
                    </div>
                  </td>
                  <td>
                    <div style="max-width:350px; overflow:hidden;" title="Ver detalle" class="details" data-id="<%= notifications[i]._id %>">
                      <%- (notifications[i].content).replace(/<[^>]*>/g, '') %>
                    </div>
                  </td>
                  <td>
                    <div style="min-width: 120px;">
                      <% if (notifications[i].notified == true) { %>
                         <a href="/notifications/notify/<%= notifications[i]._id %>" class="btn btn-success btn-circle" title="Anular notificación"><i class="glyphicon glyphicon-check"></i></a>
                      <% }else{ %>
                        <a href="/notifications/notify/<%= notifications[i]._id %>" class="btn btn-info btn-circle" title="Notificar"><i class="glyphicon glyphicon-ok"></i></a>
                      <% } %>
                        <a href="/notifications/edit/<%= notifications[i]._id %>" class="btn btn-warning btn-circle" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="/notifications/delete/<%= notifications[i]._id %>" class="btn btn-danger btn-circle" title="Eliminar"><i class="glyphicon glyphicon-trash"></i></a>
                        <a href="/notifications/resend/<%= notifications[i]._id %>" class="btn btn-default btn-circle" title="Reenviar"><i class="glyphicon glyphicon-share-alt"></i></a>     
                    </div>               
                  </td>
                </tr>
              <% } %>             
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" />
        <div id="details">  
        </div>          
      </div>
    </div>
